<div data-ng-init="gallery.getGallery()">
  <h1>{{gallery.gallery.title}}</h1>
  <h2>{{gallery.gallery.description}}</h2>
  <a class="btn btn-default" ng-click="gallery.getList()">List</a>
  <a class="btn btn-default" ng-click="gallery.getThumbnail()">Thumbnail</a>
  <div class="col-md-12" ng-repeat="pic in gallery.gallery.pics">
    <a href="#/gallery/{{gallery.gallery.galleryId}}/fullsize/{{pic.picId}}" ng-show="gallery.list">
      <h3>{{pic.title}}</h3>
      <p>{{pic.description}}</p>
    </a>
    <a href="#/gallery/{{gallery.gallery.galleryId}}/fullsize/{{pic.picId}}">
      <img ng-src="{{pic.url}}" width="100" ng-show="gallery.thumbnail">
    </a>
  </div>
  <a href="#/" class="btn btn-default">Gallery List</a>
</div>
