<div>
  <h1>{{gallery.album.title}}</h1>
  <p>{{gallery.album.description}}</p>
  <a ng-init="gallery.list=false" data-ng-click="list=true" class="btn btn-default"> List View</a>
  <a ng-init="gallery.thumbnail=false" class="btn btn-default" data-ng-click="thumbnail=true"> Thumbnail View</a>
  <div data-ng-repeat="album in gallery.albums" class="col-md-12">
    <a ng-hide="list=true" ng-show="gallery.thumbnail=true" href="#/gallery/{{album.galleryId}}/fullsize/{{giphy.giphyId}}">
      <h2>{{album.giphy.title}}</h2>
      <p>{{album.giphy.description}}</p>
    </a>
    <a ng-hide="list=true" ng-show="thumbnail=true" href="#/gallery/{{album.galleryId}}/fullsize/{{giphy.giphyId}}">
      <img ng-repeat="giphy in giphy.url" ng-src="{{giphy.url}}" width="100">
    </a>
  </div>
  <a href="#/" class="btn btn-default">Back to Gallery List</a>
</div>
