// vendor styles
@import "vendor/normalize/_normalize.scss";
@import "vendor/bootstrap/stylesheets/_bootstrap.scss";
@import "vendor/font-awesome/scss/font-awesome.scss";
@include normalize();
// app styles
@import "_theme";

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $app-default;
  text-align: center;
}

h1{
  font-size: 24px;
}

h2 {
  font-size: 16px;
}

h3, p {
  text-decoration: none;
}

img {
  border: 2px solid $app-dark;
  text-align: center;
}
